{% extends 'base.html' %}
{% block content %}
<br><br>
<!-- Section: Contact v.1 -->
<div class="container">
<!-- Section: Contact v.2 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Innovation club likes to here from you. 
        How do you wnat as to help you or improve in wich side.
    </p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">
  
        <form>
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-name" class="form-control">
                <label for="contact-name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="contact-email" class="form-control">
                <label for="contact-email" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <input type="text" id="contact-Subject" class="form-control">
                <label for="contact-Subject" class="">Subject</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Grid row -->
          <div class="row">
  
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                <label for="contact-message">Your message</label>
              </div>
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
        </form>
  
        <div class="text-center text-md-left">
          <a class="btn btn-primary btn-md">Send</a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fas fa-map-marker-alt fa-2x blue-text"></i>
            <p>computer-room 3, Academic Block, karatina-university</p>
          </li>
          <li>
            <i class="fas fa-phone fa-2x mt-4 blue-text"></i>
            <p>+254 22313920</p>
          </li>
          <li>
            <i class="fas fa-envelope fa-2x mt-4 blue-text"></i>
            <p class="mb-0">innovationclub97@gmail.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Contact v.2 -->
  </div>
{% endblock content %}
