{% extends 'base.html' %}
{% block content %}

<div class="container">
   <br><br><br><br>
   <div class="row">
      
         {% for post in posts %}
         <div class="col-lg-3 col-md-3 mb-6 ">
         <!-- Card -->
<div class="card promoting-card">

   <!-- Card content -->
   <div class="card-body d-flex flex-row">
 
     <!-- Avatar -->
     <img src="{{ post.image.url}}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
 
     <!-- Content -->
     <div>
 
       <!-- Title -->
       <h4 class="card-title font-weight-bold mb-2">{{post.type_of_item}}</h4>
       <!-- Subtitle -->
       <p class="card-text"><i class="far fa-clock pr-2"></i>07/24/2018</p>
 
     </div>
 
   </div>
 
   <!-- Card image -->
   <div class="view overlay">
     <img class="card-img-top rounded-0" src="{{ post.image.url}}" alt="Card image cap">
     <a href="#!">
       <div class="mask rgba-white-slight"></div>
     </a>
   </div>
 
   <!-- Card content -->
   <div class="card-body">
 
     <div class="collapse-content">
 
       <!-- Text -->
       <p class="card-text collapse" id="collapseContent">Recently, we added several exotic new dishes to our restaurant menu. They come from countries such as Mexico, Argentina, and Spain. Come to us, have some delicious wine and enjoy our juicy meals from around the world.</p>
       <!-- Button -->
       <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
       <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
       <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
 
     </div>
 
   </div>
 
</div>
 <!-- Card -->
         {% endfor %}
    
      </div>
    </div>
</div>
















{% endblock content %}
