{% extends 'base.html' %}
{% block content %}

<div class="row">

   <div class ="col s12 m6 l4">
         <div>
    
          <div class="card small z-depth-0">
                <div class="card-image">
                
                    <img src="{{posts.image.url}}" >
                    <span class="card-title">{{posts.type_of_item}}</span>
               </div>
                <div class="card-content">
                  <p></p>
               </div>
            <div class="card-action" >
            
          <p>  Call Now To Order</p>
                <a href="">{{posts.contact}}</a>  
           
       </div>
        
   </div>
</div>
   </div>


<div class ="col s12 m6 l8">
          <h5 class ="green-text"> About Item {{posts.type_of_item}} </h5>
          <p class="float-text">{{posts.description}}</p>
          <h6 class ="green-text">Quantity :</h6> {{posts.quantity}}
            
            <h6 class ="green-text">Location : </h6> {{posts.location}}<br>
            <h6 class ="green-text">Post On : </h6> {{posts.created}}<br>
            <h6 class ="green-text">Posted By : </h6> {{posts.author}}<br>
           <a href="{% url 'market-home' %} ">Back</a>
           
           {% if posts.author == user %}

               {% comment %} <a href="{% url 'market-update' posts.id%} ">Update</a>  
               <a href="{% url 'market-delete' posts.id%}  ">Delete</a>  {% endcomment %}
                      {% endif %}
       </div>
</div>


{% endblock content %}
